# Habilitar el uso de RewriteEngine
RewriteEngine On
RewriteBase /

# Redireccionar de http a https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redireccionar de www a no-www
RewriteCond %{HTTP_HOST} ^www\.reforchistudio\.com [NC]
RewriteRule ^(.*)$ https://reforchistudio.com/$1 [L,R=301]

# Redireccionar la página principal a tu landing page
RewriteRule ^$ /index [L]

# Redireccionar URLs que terminen en .html a la versión sin .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Manejar solicitudes de recursos (archivos CSS, JS, imágenes, etc.)
# Esto asume que los recursos están en el directorio /assets
RewriteRule ^assets/(.*)$ /assets/$1 [L]

# Si se solicita un recurso que no existe, redirigir a la página principal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
